<div class="p-fluid grid mt-3 ">

    <div class="field col-12 md:col-6   ">
    <div class="  flex justify-content-center align-items-center   ">

        <img class  [src]="product.image" (click)="shop()"  *ngIf="product.image">
    </div>
        <div  class="flex justify-content-center align-items-center  mt-5">
            <p-rating [ngModel]="3" [readonly]="true" [cancel]="false"></p-rating>
        </div>

    </div>
    <div class="field col-12 md:col-4   justify-content-center align-items-center">
        <label>Name</label>
        <input type="text" readonly pInputText [(ngModel)]="product.name"/>


        <label class="mt-5">Description</label>
        <textarea readonly pInputTextarea [(ngModel)]="product.description" required rows="3"
                  cols="20"></textarea>

        <label class="mt-5">Category</label>

        <p class="mt-5">{{product.category}}</p>


        <label class="mt-5">Price</label>

        <p-inputNumber [(ngModel)]="product.price" mode="currency" currency="USD"
                       locale="en-US"></p-inputNumber>


        <label class="mt-5">Amount</label>
        <p-inputNumber [(ngModel)]="product.amount" [showButtons]="true" buttonLayout="horizontal"
                       inputId="horizontal" spinnerMode="horizontal" [step]="1"
                       [min]="1" [max]="product.stock" decrementButtonClass="p-button-danger"
                       incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                       decrementButtonIcon="pi pi-minus" mode="currency" currency="USD">
        </p-inputNumber>


    </div>
</div>
<h1 class="ml-5">Comments</h1>

<app-comments [comments]="commentss" *ngIf="comments"></app-comments>
